# Ignore everything

# Allow only specific directories and files
 !lib/
 !lib/**
 !assets/
 !assets/**
 !pubspec.yaml

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/


 # Ignore build and dependency-related directories/files
 **/build/
 **/.dart_tool/
 **/.idea/
 **/.vscode/
 **/.flutter-plugins
 **/.flutter-plugins-dependencies
 **/.packages
 **/pubspec.lock
 **/flutter_*.iml

# Macros files
macos/Flutter/GeneratedPluginRegistrant.swift